<section class="m-0">
  <div
    class="relative flex flex-column md:flex-row align-items-center justify-content-center w-full m-0 h-screen overflow-hidden"
  >
    <div class="absolute top-0 left-0 w-full h-screen bg-white">
      <img
        src="../../assets/wallpaper_auth.png"
        alt="wallpapper"
        class="md:w-screen"
      />
    </div>
    <div
      class="col-11 md:col-5 h-screen flex flex-column align-items-center gap-4 pt-6 px-0 md:px-4 shadow-4 z-3 bg-black-alpha-70"
    >
      <div class="w-12 px-6 flex flex-column align-items-center gap-2">
        <div class="w-12 h-13rem w-13rem">
          <img src="../../assets/Logo.png" alt="logo" class="w-full h-full" />
        </div>
        <div class="w-full text-center text-2xl font-bold">
          <img src="../../assets/name_company.png" alt="logo" class="w-10" />
        </div>
      </div>
      <div
        class="w-12 px-6 md:px-2 md:-mt-4 flex flex-column align-items-center gap-6 md:gap-3"
      >
        <div class="w-12 text-lg font-semibold text-center">
          ¡A trabajar! Ingrese ahora
        </div>
        <div class="w-12 flex flex-column align-items-center gap-3">
          <div class="w-12 md:w-9 flex flex-column gap-2">
            <div class="flex gap-2 md:gap-3">
              <i class="pi pi-user ml-2"></i>
              <span class="font-medium">Correo</span>
            </div>
            <input
              id="email"
              type="text"
              [(ngModel)]="email"
              pInputText
              placeholder="Escribar el correo del usuario"
            />
          </div>
          <div class="w-12 md:w-9 flex flex-column gap-2">
            <div class="flex gap-2 md:gap-3">
              <i class="pi pi-lock ml-2"></i>
              <span class="font-medium">Contraseña</span>
            </div>
            <div class="relative">
              <input
                pInputText
                [type]="showPassword ? 'text':'password'"
                name="password"
                [(ngModel)]="password"
                class="w-full"
                id="password"
                placeholder="••••••••"
              />
              <i
                style="margin-top: 10px;"
                [ngClass]="showPassword ? 'pi pi-eye absolute top-0 right-0 mr-3 pt-1 cursor-pointer':'pi pi-eye-slash absolute top-0 right-0 mr-3 pt-1 cursor-pointer' "
                (click)="showPassword = !showPassword"
              ></i>
            </div>
          </div>
          <div class="w-12 md:w-9 -mt-1 flex justify-content-between">
            <p-checkbox
              name="remember"
              labelStyleClass="text-sm font-light"
              [binary]="true"
              [(ngModel)]="remember"
              label="Recuérdame"
              inputId="id"
            ></p-checkbox>
            <span
              class="text-sm text-primary cursor-pointer hover:underline text-right"
              >¿Olvidaste tu contraseña?</span
            >
          </div>
        </div>
      </div>
      <div
        class="w-12 h-5rem md:h-15rem px-5 flex flex-column align-items-center"
      >
        <div class="w-12 md:w-10  mt-2">
          <p-button
            label="Ingresar"
            styleClass="w-full"
            (onClick)="authUser()"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
</section>
<p-toast position="top-center"></p-toast>
