<section class="w-full grid m-0 p-0">
  <div class="col-6 md:col-3 px-3">
    <div
      class="relative w-full transition-colors transition-duration-300 hover:surface-50 hover:shadow-4 py-4 px-2 md:px-4 transition-colors transition-duration-300 hov50 hover:shadow-4 border-300 shadow-2 border-1 border-round flex gap-2"
    >
      <p-button
        icon="pi text-base pi-mobile"
        styleClass="absolute border-100 bottom-0 right-0 mr-1 mb-1 md:mr-3 md:mb-3 w-2rem h-2rem"
      ></p-button>
      <div class="flex flex-column justify-content-center">
        @if(loading){
        <p-skeleton
          height="1.8rem"
          [width]="layoutService.isMobile() ? '8rem':'11.2rem'"
          styleClass="mb-1"
        />
        } @else {
        <span class="text-2xl md:text-4xl white-space-nowrap">
          {{ '352' }}
        </span>
        }
        <span class="text-sm font-semibold">Disp. registrados</span>
        @if(loading){
        <p-skeleton
          height="1.2rem"
          [width]="layoutService.isMobile() ? '6rem':'9.5rem'"
          styleClass="mt-1"
        />
        } @else {
        <span class="text-xs mt-1 font-semibold flex align-items-center gap-1">
          <i class="pi pi-arrow-circle-up text-sm"></i> 8% (30 días)
        </span>
        }
      </div>
    </div>
  </div>

  <div class="col-6 md:col-3 px-3">
    <div
      class="w-full relative py-4 px-2 md:px-4 transition-colors transition-duration-300 hover:surface-50 hover:shadow-4 border-300 shadow-2 border-1 border-round flex gap-2"
    >
      <p-button
        icon="pi text-base pi-map-marker "
        severity="contrast"
        [outlined]="true"
        styleClass="absolute  bottom-0 right-0 mr-1 mb-1 md:mr-3 md:mb-3 w-2rem h-2rem"
      ></p-button>
      <div class="flex flex-column justify-content-center">
        @if(loading){
        <p-skeleton
          height="1.8rem"
          [width]="layoutService.isMobile() ? '8rem':'11.2rem'"
          styleClass="mb-1"
        />
        } @else {
        <span class="text-2xl md:text-4xl white-space-nowrap">{{ '152' }}</span>
        }
        <span class="text-xs md:text-sm text-700">Rastreos exitosos</span>
        @if(loading){
        <p-skeleton
          height="1.2rem"
          [width]="layoutService.isMobile() ? '6rem':'9.5rem'"
          styleClass="mt-1"
        />
        } @else {
        <span class="text-xs mt-1 text-600 flex align-items-center gap-1"
          ><i class="pi pi-arrow-circle-up text-green-500 text-sm"></i> 8% (30
          días)</span
        >}
      </div>
    </div>
  </div>
  <div class="col-6 md:col-3 px-3">
    <div
      class="w-full relative py-4 px-2 md:px-4 transition-colors transition-duration-300 hover:surface-50 hover:shadow-4 border-300 shadow-2 border-1 border-round flex gap-2"
    >
      <p-button
        icon="pi text-base pi-cloud-download"
        severity="contrast"
        [outlined]="true"
        styleClass="absolute  bottom-0 right-0 mr-1 mb-1 md:mr-3 md:mb-3 w-2rem h-2rem"
      ></p-button>
      <div class="flex flex-column justify-content-center">
        @if(loading){
        <p-skeleton
          height="1.8rem"
          [width]="layoutService.isMobile() ? '8rem':'11.2rem'"
          styleClass="mb-1"
        />
        } @else {
        <span class="text-2xl md:text-4xl white-space-nowrap">{{ '28' }}</span>
        }
        <span class="text-xs md:text-sm text-700 white-space-nowrap"
          >Backups exitosos</span
        >
        @if(loading){
        <p-skeleton
          height="1.2rem"
          [width]="layoutService.isMobile() ? '6rem':'9.5rem'"
          styleClass="mt-1 "
        />
        } @else {
        <span class="text-xs mt-1 text-600 flex align-items-center gap-1"
          ><i class="pi pi-arrow-circle-up text-green-500 text-sm"></i> 8% (30
          días)</span
        >}
      </div>
    </div>
  </div>
  <div class="col-6 md:col-3 px-3">
    <div
      class="w-full relative py-4 px-2 md:px-4 transition-colors transition-duration-300 hover:surface-50 hover:shadow-4 border-300 shadow-2 border-1 border-round flex gap-2"
    >
      <p-button
        icon="pi text-base pi-user-plus"
        severity="contrast"
        [outlined]="true"
        styleClass="absolute  bottom-0 right-0 mr-1 mb-1 md:mr-3 md:mb-3 w-2rem h-2rem"
      ></p-button>
      <div class="flex flex-column justify-content-center">
        @if(loading){
        <p-skeleton
          height="1.8rem"
          [width]="layoutService.isMobile() ? '8rem':'11.2rem'"
          styleClass="mb-1"
        />
        } @else {
        <span class="text-2xl md:text-3xl md:mb-1 white-space-nowrap"
          >{{ '15'}}</span
        >
        }
        <span class="text-sm text-700">Usuarios registrados</span>
        @if(loading){
        <p-skeleton
          height="1.2rem"
          [width]="layoutService.isMobile() ? '6rem':'9.5rem'"
          styleClass="mt-1"
        />
        } @else {
        <span class="text-xs mt-1 text-600 flex align-items-center gap-1"
          ><i class="pi pi-arrow-circle-up text-green-500 text-sm"></i> 8% (30
          días)</span
        >}
      </div>
    </div>
  </div>
</section>

<section class="w-full grid m-0 mt-3 p-0">
  <div class="col-12 md:col-6 px-3">
    <div
      class="relative w-full h-18rem py-4 px-3 surface-50 md:px-5 overflow-hidden border-300 shadow-4 border-1 border-round flex align-content-center gap-2"
    >
      <div
        class="absolute top-0 right-0 -mr-7 opacity-60 w-7 md:w-5 h-full flex align-items-center"
      >
        <img src="../../../../assets/Logo.png" alt="log" class="w-full" />
      </div>
      <div class="w-12 md:w-9 flex flex-column justify-content-center gap-4">
        <span class="text-2xl md:text-3xl"
          >¡Hazte parte del proceso! Registra</span
        ><span class="text-700 w-10"
          >Tu trabajo es crucial para la seguridad y recuperación de datos.
          ¡Comienza ahora y sé parte del equipo que marca la diferencia!</span
        >
        <div class="flex justify-content-between align-items-center">
          <p-button
            icon="pi pi-plus text-white"
            label="Registra"
            styleClass=" text-white"
            size="small"
          ></p-button>
          <i class="pi pi-arrow-right align-self-end"></i>
        </div>
      </div>
    </div>
  </div>

  <div
    class="col-12 md:col-6 flex justify-content-center align-items-center mt-3 md:mt-0"
  >
    <img
      src="../../../../assets/undrwa.svg"
      alt="banner_security"
      class="md:w-7 w-8"
    />
  </div>
</section>

<p-toast position="top-center"></p-toast>
<p-confirmDialog styleClass="w-auto md:w-5" position="bottom"></p-confirmDialog>
